/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* root variable */
:root {
  --color-primary: #ff5722;
  --color-secondary: #ff7a50;
  --color-secondary-light: #ffa589;
  --color-navbar: #f8f8f8;
  --color-body: #333333;
  --color-white: #fff;
  --color-black: #000;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-black);
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* buttons */
.btn {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 1.2rem;
  border-radius: 8px;
  margin: 1rem 0;
  white-space: nowrap;
  color: var(--color-white);
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary-light);
}
.btn--block {
  width: 100%;
}
.btn--primary:hover {
  background-color: #fe6d41;
}
.btn--secondary:hover {
  background-color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}

/* badge */
.badge {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 32px;
  padding: 0.3rem 0.8rem;
  text-transform: uppercase;
}
.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.badge--secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* list */
.list {
  list-style: none;
  font-size: 1.6rem;
}
.list--tick .list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/src/assets/icons/Tick-Square.svg) no-repeat;
  padding-right: 2.5rem;
  margin-left: 1rem;
}
.list__item {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .list {
    font-size: 1.8rem;
  }
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* plan */
.plan-block {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  gap: 8rem 6rem;
}
.plan {
  transition: transform 0.3s ease-out;
}
.plan:hover {
  transform: scale(1.05);
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px hsla(0, 4%, 95%, 0.986);
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__body .btn--block {
  margin-top: 8rem;
}
.card__header {
  color: var(--color-white);
  background-color: var(--color-secondary);
}
.card--primary .card__header {
  background-color: var(--color-secondary);
}
.card--secondary .card__header {
  background-color: var(--color-secondary-light);
}
.plan-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.plan__price {
  font-size: 2.5rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__desc {
  display: block;
  margin-top: 1rem;
}
.plan--popular {
  transform: scale(1.1);
  /* transition: transform 0.3s ease-out; */
}
.plan--popular:hover {
  transform: scale(1.15);
}

/* feature */
.feature {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}
.feature__title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0;
}
.feature__text {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: justify;
}
.feature .btn {
  padding: 1.2rem 3rem;
}
.feature__img-con {
  display: flex;
  justify-content: center;
}
.feature__img {
  max-width: 80%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .feature {
    flex-direction: row;
    margin-top: 6rem;
  }
  .feature__img-con {
    flex: 1;
    order: 2;
  }
  .feature__img {
    width: 100%;
  }
  .feature__text-con {
    flex: 1;
  }
  .feature__title {
    font-size: 3.5rem;
    margin-top: 0;
  }
  .feature__text {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .feature .btn {
    font-size: 1.6rem;
  }
  .feature--charge {
    flex-direction: row-reverse;
    margin-bottom: 8rem;
  }
}

/* contact-us */
.contact-us-container {
  display: grid;
  justify-items: center;
  gap: 3rem;
}
.contact-us-top-text {
  text-align: center;
  max-width: 340px;
}
.contact-us__title {
  font-size: 2.6rem;
  font-weight: 700;
}
.contact-us__desc {
  font-size: 2rem;
}
.contact-us {
  display: grid;
  max-width: 400px;
}
.contact-us__map {
  display: none;
}
.contact-us__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 1.6rem;
  margin-bottom: 2rem;
}
.icon-holder {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.icon__text {
  max-width: 200px;
  font-size: 1.2rem;
}
.contact-us__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 1.6rem;
  box-shadow: 0 0 20px 10px hsla(0, 4%, 95%, 0.986);
}
.contact-us__form h4 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 5rem;
}
.contact-us__form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-us__form textarea,
input {
  cursor: pointer;
  resize: none;
  outline: 0;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  margin-bottom: 1.5rem;
  padding: 1.2rem 1.5rem;
}
.contact-us__form input {
  border-radius: 40px;
}
.contact-us__form textarea {
  color: #333;
  border-radius: 5px;
}
::placeholder {
  color: #333;
  font-size: 1.4rem;
}
.contact-us__form textarea:hover,
input:hover {
  border: 1px solid var(--color-secondary);
}
.contact-us .icon-container:hover {
  background-color: #ddd;
}
@media screen and (min-width: 768px) {
  .contact-us {
    grid-template-areas:
      "icons form"
      "map form"
      "social form";
    grid-template-columns: 70fr 30fr;
    max-width: 1140px;
  }
  .contact-us__title {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .contact-us__desc {
    font-size: 2.4rem;
  }
  .contact-us__form {
    grid-area: form;
    margin-right: 3rem;
    padding: 4rem;
  }
  .contact-us__social {
    grid-area: social;
    justify-content: end;
    margin-bottom: 0;
  }
  .contact-us__icons {
    grid-area: icons;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .icon-holder {
    flex-direction: column;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
    text-align: end;
  }
  .contact-us__map__img {
    width: 90%;
    height: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .icon__text {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

/* icon */
.icon-container {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 100%;
}
.icon {
  width: 24px;
  height: 24px;
}

/* footer */
.footer-container {
  display: flex;
  justify-content: right;
  min-height: 380px;
  background-color: var(--color-black);
  color: var(--color-white);
}
.footer {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  max-width: 130px;
}
.footer__title,
.footer__copy-right {
  font-size: 1.2rem;
}
.footer__copy-right {
  display: none;
  color: #acacac;
}
.footer__logo img {
  width: 100%;
}
.footer__item {
  margin-bottom: 3rem;
}
.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--color-white);
  margin-bottom: 0.5rem;
  display: block;
}
.footer__item a:hover {
  color: var(--color-primary);
  transition: all 0.1s ease-out;
}
.enemad {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}
.footer__enemad {
  cursor: pointer;
  max-width: 95px;
  max-height: 114px;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1rem 0.5rem;
}
.footer__enemad img {
  width: 100%;
  height: auto;
}
.footer__social {
  display: flex;
}
.footer__social__title {
  display: none;
}
.footer__social-icons {
  display: flex;
  gap: 2rem;
}
.footer__social-icons .icon-container {
  background-color: var(--color-black);
  color: #ababab;
}
.footer__social-icons .icon-container:hover {
  color: var(--color-primary);
}
.footer__copy-right-mobile {
  color: #acacac;
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
  }
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 1.4rem;
  }
  .footer__item--logo {
    width: 14%;
  }
  .footer__copy-right {
    display: block;
  }
  .footer__social {
    flex-direction: column;
    grid-column: 1 / -1;
    margin-top: 3rem;
  }
  .footer__social-icons {
    gap: 0;
    margin-bottom: 0;
  }
  .footer__social__title {
    display: block;
    margin-right: 1.2rem;
    font-size: 1.4rem;
  }
  .footer__item {
    margin-bottom: 0;
    margin-left: 1.6rem;
  }
  .footer__copy-right-mobile {
    display: none;
  }
}

/* navbar */
.header {
  background-color: var(--color-navbar);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.nav__items li {
  padding: 1rem 0rem;
}
.nav__items a {
  color: var(--color-black);
  text-decoration: none;
}
.nav__item a:hover {
  color: var(--color-primary);
}
.nav__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.nav__item--btn {
  display: none;
}
.nav.nav__expanded .nav__items {
  max-height: 100vh;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .nav {
    padding: 0 1rem;
  }
  .nav__items {
    width: auto;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    max-height: 100%;
  }
  .nav__items li,
  .nav__items a {
    padding: 1rem 0.8rem;
  }
  .nav__toggler {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .nav__item--btn li,
  .nav__item--btn a {
    padding: 0;
  }
  .nav__item--btn {
    display: block;
  }
  .btn--nav {
    margin: 0;
    padding: 0.8rem 3rem;
  }
  .btn--nav:hover {
    background-color: var(--color-primary);
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
  }
}

/* toggler */
.nav__toggler {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-black);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}
.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}

.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}

/* hero */
.hero-main {
  position: relative;
}
.hero {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__overlay-content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__overlay-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  border-radius: 25px;
  padding: 1.6rem;
  width: 270px;
}
.hero__overlay-content h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-white);
}
.hero__overlay-content h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 3rem;
}
.hero__overlay-content__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.4rem;
  -webkit-tap-highlight-color: transparent;
}
.hero__overlay-content__btn button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.2rem;
  margin: 0;
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-black);
}
.btn--bgc-none {
  background-color: transparent;
  border: 2px solid var(--color-white);
}
.btn--bgc-none,
.btn--white {
  width: 224px;
  border-radius: 12px;
}
.btn--white p:hover {
  color: #5d5b5b;
}
.btn--bgc-none p:hover {
  color: #c0c0c0;
}
.hero__overlay-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__overlay-content-wrapper {
    justify-content: flex-start;
  }
  .hero__overlay-content__btn {
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
  }
  .hero__overlay-content {
    width: 480px;
    margin-right: 12rem;
    line-height: 1.6;
  }
  .hero__overlay-content h1 {
    font-size: 4.4rem;
  }
  .hero__overlay-content h2 {
    font-size: 2.3rem;
    margin-bottom: 3rem;
  }
  .hero__overlay-content__btn button {
    padding: 1.2rem 0;
  }
  .btn--bgc-none,
  .btn--white {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__overlay-img {
    display: block;
    position: absolute;
    top: 22%;
    left: 10%;
    height: 60rem;
    width: 40rem;
    z-index: 10;
  }
}

/* services */
.services {
  border-bottom: 1px solid #ddd;
}
.services__section {
  display: flex;
  flex-direction: column;
  /* margin-top: 10rem; */
}
.services__section h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.services__tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  margin-bottom: 2rem;
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #5e5e5e;
  opacity: 0.35;
  transition: all 0.2s ease-out;
}
.tab img {
  max-width: 85px;
}
.tab span {
  font-size: 1.2rem;
  margin: 1rem 0rem;
  text-align: center;
}
.services__section .feature__img-con {
  display: none;
}
.services__section .feature__title {
  font-size: 1.6rem;
}
.tab-content {
  display: none;
}
.tab-content.active {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8rem;
}
.tab:hover,
.tab.active {
  opacity: 1;
}
.services__section .feature__text-con {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .services__tabs {
    margin: 4rem 0;
  }
  .services__section h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  .tab span {
    font-size: 1.6rem;
  }
  .services__section .feature__img-con {
    display: block;
  }
  .services__section .feature__title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .services__section .feature__text-con {
    width: 50%;
  }
  .services__section .feature__img {
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .services__section {
    margin-top: 10rem;
  }
}
.block {
  padding: 6rem 2rem;
}
@media screen and (min-width: 1024px) {
  .block {
    padding: 6rem 2rem;
  }
}
