<section class="accordion-section container block">
  <div class="accordion__wrapper">
    <div class="accordion__intro">
      <h2>رزومه و سوابق رانندگان</h2>
      <span>
        <span>ویرایش</span>
        <span>
          <i class="far fa-edit"></i>
        </span>
      </span>
    </div>

    <div class="accordion">
      <header class="accordion__header">
        <h3 class="accordion__heading">سابقه رانندگان</h3>
        <span class="">
          <i class="fas fa-chevron-circle-down icon"></i>
        </span>
      </header>
      <div class="accordion__content">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
        درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.
      </div>
    </div>

    <div class="accordion accordion-two">
      <header class="accordion__header">
        <h3 class="accordion__heading">سابقه تحصیلی رانندگان</h3>
        <span class="">
          <i class="fas fa-chevron-circle-down icon"></i>
        </span>
      </header>
      <div class="accordion__content">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
        درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.
      </div>
    </div>
  </div>
</section>
