<section class="hero-main">
  <div class="hero__overlay-image">
    <img
      class="hero__overlay-img"
      src="/src/assets/images/mockup-phone.webp"
      alt=""
    />
  </div>
  <div class="hero">
    <picture>
      <source
        srcset="/src/assets/images/banner.webp"
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="/src/assets/images/banner-mobile.webp"
        type="image/webp"
        media="(max-width: 768px)"
      />
      <img
        class="banner-img"
        src="/src/assets/images/banner.webp"
        alt="banner"
      />
    </picture>

    <div class="hero__overlay-content-wrapper hero-wrapper">
      <div class="hero__overlay-content intro-btn">
        <h1>تپسی</h1>
        <h2>اپلیکیشن درخواست خودرو و پیک</h2>
        <div class="hero__overlay-content__btn intro-wrapper">
          <button class="btn btn--white">
            <img
              class="icon"
              src="/src/assets/icons/download-icon-black.svg"
              alt="download-icon"
            />
            <p>دانلود اپلیکیشن مسافران</p>
          </button>
          <button class="btn btn--white">
            <img
              class="icon"
              src="/src/assets/icons/pwa-icon.svg"
              alt="pwa-icon"
            />
            <p>وب اپلیکیشن مسافران</p>
          </button>
          <button class="btn btn--bgc-none">
            <img
              class="icon"
              src="/src/assets/icons/driver-icon.svg"
              alt="driver-icon"
            />

            <p>ثبت نام راننده خودرو</p>
          </button>
          <button class="btn btn--bgc-none">
            <img
              class="icon"
              src="/src/assets/icons/motorcycle-rider-icon.svg"
              alt="motorcycle-rider-icon"
            />
            <p>ثبت نام راننده موتور</p>
          </button>
          <button class="btn btn--bgc-none">
            <img
              class="icon"
              src="/src/assets/icons/download-icon-white.svg"
              alt="download-icon"
            />
            <p>دانلود اپلیکیشن رانندگان</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
