<header class="header">
  <nav class="nav container">
    <a href="#">
      <img src="/src/assets/icons/logo.svg" alt="Tapsi Logo" />
    </a>
    <div class="nav__toggler">
      <div class="bar bar-one"></div>
      <div class="bar bar-two"></div>
      <div class="bar bar-three"></div>
    </div>
    <ul class="list nav__items">
      <li class="nav__item"><a href="#">ویدئو ها</a></li>
      <li class="nav__item"><a href="#">پشتیبانی</a></li>
      <li class="nav__item"><a href="#">امور سهام</a></li>
      <li class="nav__item"><a href="#">تپسی پک</a></li>
      <li class="nav__item"><a href="#">فرصت های شغلی</a></li>
      <li class="nav__item"><a href="#">وبلاگ</a></li>
      <li class="nav__item nav__item--btn">
        <a href="#">
          <button class="btn btn--primary btn--nav">دانلود تپسی</button>
        </a>
      </li>
    </ul>
  </nav>
</header>
