<section class="travel container block">
  <h2>جوایز ویژه</h2>
  <div class="travel__slides">
    <div class="travel__slide">
      <div class="travel__img">
        <img src="/src/assets/images/north-of-iran.jpg" alt="north-of-iran" />
      </div>
      <div class="travel__overlay">
        <div class="travel__overlay__header">
          <span class="badge badge--primary">ویژه</span>
          <ul class="list travel__list">
            <li>اقامت رایگان</li>
            <li id="travel__list">سفر سه روزه</li>
          </ul>
        </div>
        <h4>سفر به ییلاقات شمال ایران</h4>
        <div class="travel__overlay__icons">
          <div class="travel__overlay__icons__numbers">
            <div>
              <i class="fas fa-heart icon"></i>
              <span>٢٧</span>
            </div>

            <div><i class="far fa-eye icon"></i> <span>٨١</span></div>
          </div>
          <div class="travel__overlay__icons__holder">
            <i class="far fa-edit icon"></i>
            <i class="far fa-trash-alt icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="travel__slide">
      <div class="travel__img">
        <img
          src="/src/assets/images/zagros-mountains.jpg"
          alt="zagros-mountains"
        />
      </div>
      <div class="travel__overlay">
        <div class="travel__overlay__header">
          <span class="badge badge--primary">ویژه</span>
          <ul class="list travel__list">
            <li>اقامت رایگان</li>
            <li id="travel__list">سفر هفت روزه</li>
          </ul>
        </div>
        <h4>سفر به رشته کوه های زاگرس</h4>
        <div class="travel__overlay__icons">
          <div class="travel__overlay__icons__numbers">
            <div>
              <i class="fas fa-heart icon" style="color: orangered"></i>
              <span>٩</span>
            </div>

            <div><i class="far fa-eye icon"></i> <span>٩۴</span></div>
          </div>
          <div class="travel__overlay__icons__holder">
            <i class="far fa-edit icon"></i>
            <i class="far fa-trash-alt icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="travel__slide">
      <div class="travel__img">
        <img src="/src/assets/images/persian-gulf.jpg" alt="desert" />
      </div>
      <div class="travel__overlay">
        <div class="travel__overlay__header">
          <span class="badge badge--primary">ویژه</span>
          <ul class="list travel__list">
            <li>اقامت رایگان</li>
            <li id="travel__list">سفر چهار روزه</li>
          </ul>
        </div>
        <h4>سفر به سواحل خلیج فارس</h4>
        <div class="travel__overlay__icons">
          <div class="travel__overlay__icons__numbers">
            <div>
              <i class="fas fa-heart icon"></i>
              <span>١٧</span>
            </div>

            <div><i class="far fa-eye icon"></i> <span>۴۵</span></div>
          </div>
          <div class="travel__overlay__icons__holder">
            <i class="far fa-edit icon"></i>
            <i class="far fa-trash-alt icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
